<!DOCTYPE html>
<html>
  <head>
    <title>Railsgames</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <a href="/">Home</a>
    <a href="/new">Play MAGIC 8 BALL</a>
    <a href="/number/new">Secret Number</a>
    <!--<a href="">Rock Paper Scissors</a>-->
    <%= yield %>
  </body>
</html>
<style>
body {
  text-align: center;
}

</style>
